/*
      __                 __            __
     / /_  __  __   ____/ /___ ___  __/ /___
    / __ \/ / / /  / __  / __ `/ / / / / __ \ ✓
   / /_/ / /_/ /  / /_/ / /_/ / /_/ / / /_/ / ✓
  /_.___/\__, /   \__,_/\__,_/\__, /_/\____/  ✓
        /____/               /____/

  many thanks to dash radio for the streams.
  this website aims to work on any modern device, without stupid apps.

  v3.0.1
  mit license - you must include the license located at http://git.io/KjOJmw
*/
#Cover {
  height: 500px;
  width: 500px;
}
@media (max-width: 767px) {
  #Cover, #Player {
    margin-left: auto;
    margin-right: auto;
    }
    #Cover {
      height: 250px;
      width: 250px;
    }
    #Player {
      width: 100%;
    }
  }
.daylo-mobile-only {
  display: none;
}
@media only screen and (max-width: 768px) {
  .daylo-mobile-only {
    display: inline;
    padding-left: 5%;
    text-align: center;
  }
  ul.navbar-nav {
    text-align: center;
  }
  }
  .navbar-default {
    background-color: #3399cc;
    border-color: #2d88b5;
  }
  .navbar-default .navbar-brand {
    color: #ffffff;
  }
  .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-text {
    color: #ffffff;
  }
  .navbar-default .navbar-nav > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #3399cc;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #2d88b5;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #3399cc;
  }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #2d88b5;
  }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #2d88b5;
  }
  .navbar-default .navbar-toggle {
    border-color: #2d88b5;
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #2d88b5;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #ffffff;
  }
  .navbar-default .navbar-link {
    color: #ffffff;
  }
  .navbar-default .navbar-link:hover {
    color: #ffffff;
  }

  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #ffffff;
      background-color: #2d88b5;
    }
  }

  ::-webkit-scrollbar {
      width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
      background: #f2f2f2;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: #39c;
  }

.fa {
  font-size: 130%;
}

.row {
  padding-top: 5%;
}

.stat-desc {
  height: 100px;
  overflow-y: auto;
}
section {
  max-height: 400px;
  margin-bottom: 15px;
}

.thumbnail {
  padding: 0;
  margin-bottom: 0;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
